body{
	font-family: 'Nunito Sans', sans-serif;
	margin: 0px;
	overflow-x:hidden ;
}
/* alttaki kodlar inputların üzerine gelice renginin değişmesini sağlıyor.*/
input[type=text]:focus, input[type=email]:focus{
	background-color: lightblue;
}
.upside{
	background-image: url(../img/aerial-view-business-team.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.leftSide{
	float: left;
}
.nav-bg{
	background-color:rgba(122, 122, 122, 0.56);
}
#logoSize{
	max-width: 100%;
    height: 65px;
}
.menu_TextColor{
	color:white;
}
.brace{
	font-size: 20px;
}
 nav a:link{
 	text-decoration: none;
 	margin-right: 25px;
 	color:#003666;
 }
 nav a:hover{
 	border-bottom: 2px solid #fff;
 }
 nav a:visited{
	text-decoration: none;
	margin-right: 25px;
	color:black;
 }
 .icon{
	margin-right: 7px;
	font-size: 16px;
}
.nav-item .nav-link.active{
	color: white;
}
#main_Contant{
	position: absolute;
	top:60%;
	left:58%;
	transform: translate(-55%,-55%);
	color:white;
	font-size: 20px;
}
.h3l{
	margin-top: 150px;
	font-size: 55px;
	color:#003666;
	text-shadow: 0px 1px 1px;
    font-weight: 600;
	text-align: center;
}
#aboutWrite{
	color:#999;
	text-align: center;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 100;
}
span{
	font-size: 50px;
	margin-right: 7px;
	line-height: 42px;
	color:#003666;
	font-weight: 600;
	float:left;
}
#education{
	padding-top: 100px;
	background-color:rgba(122, 122, 122, 0.1056);
	padding: 0px;
	margin-top: 150px;
	text-align: center;
	height: 700px;
}
.educationTitle{
	padding-top: 50px;
	font-size: 50px;
}
.titleCard{
	font-size: 25px;
	color:#003666;
	padding: 20px;
}
.cardp{
	color:#888;
}
.card img {
	height: 220px; 
	object-fit: cover;
  }  
.card:hover{
	border: 1px solid black;
}
#educator{
	background-color:gray;
	padding:50px;
	text-align: center;
}
#educatorh3{
	color:black;
}
.oval{
	border-radius: 50%;
}
.inputOval{
	border-radius: 45%;
}
.educatorName{
	color:white;
	font-size: 25px;
	margin-bottom:12px;
}
.educatorp{
 color:black;
 font-size:18px ;
}
.social{
    color:black;
    border: 2px solid black;
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    margin:5px 10px;
}
.social:hover{
	background-color: #888;
}
#communication{
	background: #666;
	background-size: cover;
	padding: 50px;
	height: auto;
}
#hColor{
	color: white;
	text-align: center;
}
#opaqueRow{
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.4);
}
#rowInformation{
	margin-top: 70px;
	padding-top: 50px;
	background: rgba(255, 255, 255, 0.8);
}
#copyright{
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    background-position: center center ;
}
#up{
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 15px;
    padding: 8px 10px;
    margin-top: 20px;
}
.map-area{
	width: 100%;
	height: 256px;
	background: rgba(255, 255, 255, 0.0);
	box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}
.map-area iframe{
	width: 100%;
	height: 100%;
	border: none;
}
@media(max-width: 991px){
	.contact-form{
		margin-bottom: 30px;
	}
	.map-area{
		width: 100%;
		height: 400px;
	}
	.nav-bg{
		background-color:rgba(122, 122, 122, 0.96);
	}
}
@media screen and (max-width: 991px){
	.brace{
		display:none;
	}
}